.footer {
  background: var(--background-section-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @include flex();
    align-items: baseline;
    justify-content: space-between;
  }

  &__address {
    margin-right: 70px;
  }

  &__social {
    min-width: 206px;
    margin-right: 93px;
  }

  &__logo {
    margin-bottom: 20px;
    display: block;
    padding: 0;
    margin-right: 0;
  }

  &__title {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
  }

  &__contact {
    font-style: normal;

    &__list {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }

    &__item:not(:last-child) {
      margin-bottom: 9px;
    }

    &__location {
      color: var(--main-color);
    }

    &__link {
      color: var(--contact-info-conection-color);
    }
  }
}
