.footer {
  background: var(--background-section-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
  }

  &__contact {
    font-style: normal;

    &__list {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__location {
      color: var(--main-color);
    }

    &__link {
      color: var(--contact-info-conection-color);
    }

    @media screen and (min-width: 1200px) {
      &__item:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    &__container {
      justify-content: center;
    }

    &__address {
      margin-bottom: 60px;
    }

    &__form {
      text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    &__address {
      margin-bottom: 60px;
      text-align: center;
    }

    &__social {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    &__container {
      @include flex();
      flex-wrap: wrap;
      align-items: baseline;
    }

    &__address {
      margin-right: 165px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__container {
      justify-content: space-between;
    }

    &__address {
      margin-right: 70px;
    }

    &__social {
      min-width: 206px;
      margin-right: 93px;
    }

    &__logo {
      margin-bottom: 20px;
      display: block;
      padding: 0;
      margin-right: 0;
    }
  }
}
