.project {
  &__list {
    @include flex();
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--main-color);
    flex-basis: calc(100% / 3 - 30px);
    transition: box-shadow 250ms var(--animation-timing-function);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__description {
    padding: 20px 24px;
    border: var(--project-color) solid 1px;
    border-top: none;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
  }

  &__product {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--link-color);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
}
