@media screen and (min-width: 480px) {
  .social {
    &__list {
      justify-content: space-between;
    }
  }
}
.social {
  &__list {
    justify-content: center;
    @include flex();
  }

  &__link {
    @include flex();
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms var(--animation-timing-function);

    &-dark {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__icon {
    fill: var(--border-color);
    transition: fill 250ms var(--animation-timing-function);

    &-dark {
      fill: var(--main-color);
    }
  }
}
@media screen and (min-width: 1200px) {
  .social {
    &__link {
      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }

      .social__link:focus &,
      .social__link:hover & {
        fill: var(--main-color);
      }
    }
  }
}
