.social {
  &__list {
    @include flex();
    justify-content: space-between;
  }

  &__link {
    @include flex();
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms var(--animation-timing-function);

    &-dark {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: var(--border-color);
    transition: fill 250ms var(--animation-timing-function);

    &-dark {
      fill: var(--main-color);
    }

    .social__link:focus &,
    .social__link:hover & {
      fill: var(--main-color);
    }
  }
}
