:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --second-color: #000;
  --title-color: #212121;
  --link-color: #757575;
  --background-color: #f5f4fa;
  --background-section-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --contact-info-conection-color: rgba(255, 255, 255, 0.6);
  --line-color: #ececec;
  --project-color: #eeeeee;
  --border-color: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
